target
.git
.gitignore
*.log
# (allow CSV file to create pre-built database)
src/main/resources/cast.csv.gz
src/main/resources/name.basics.tsv.gz
src/main/resources/title.basics.tsv.gz
src/main/resources/title.principals.tsv.gz

# General patterns for any other data files
**/*.tsv
**/*.tsv.gz
**/*.csv
**/*.csv.gz
**/*.db
**/*.db-journal
filtered_*.json
!filtered_*.json.gz
src/test
